<!DOCTYPE html>
<html>
<head>
	<title>1. Two Sum</title>

</head>
<style>
body {
	padding: 15px;
}



svg {
	border: 1px;
	stroke: blue;
	width: 500px;
	height: 400px;

}

</style>

<body>

	<h1>1. Two Sum</h1>

	<p>
		Given an array of integers, return indices of the two numbers such that they add up to a specific target. <br>
		You may assume that each input would have exactly one solution, and you may not use the same element twice.
	</p>

	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="static/js/1.js""></script>
</body>
</html>