<!DOCTYPE html>
<html>
<head>
	<title>1. Two Sum</title>
	<link rel="stylesheet" href="static/css/style.css">
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="static/js/1.js""></script>

</head>

<body>

	<div class="question">
		<h1>1. Two Sum</h1>
		<p>
			Given an array of integers, return indices of the two numbers such that they add up to a specific target. <br>
			You may assume that each input would have exactly one solution, and you may not use the same element twice.
		</p>
		<hr>

	</div>

	<div class="input">

		<a>Input: </a>
		<button>Go.</button>

	</div>

	<div class="solution">
		<div>
			<svg class="chart" id="svg1"></svg>
		</div>

	</div>

	<div class="answer">
		Answer: 
	</div>

</body>
</html>